@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="text-center">
    <h1 class="display-4">Welcome To Your Music App</h1>
    <p><b>Please select yor favourite song lyrics from the below</b></p>
    <ul>
        <li><a href="/lyrics1">Song1</a></li>
        <li><a href="/lyrics2">Song2</a></li>
        <li><a href="/lyrics3">Song3</a></li>
    </ul>
</div>
