@page
@model Lyrics1
@{
    ViewData["Title"] = "Lyrics2";
}
<body>
<div class="div-share"><h1>"Happy" lyrics</h1></div>

<br>
<img src="images/happy.jpg" alt="Happy" class="center">
<br>
<div class="lyrics">
    It might seem crazy what I'm about to say<br>
    Sunshine she's here, you can take a break<br>
    I'm a hot air balloon that could go to space<br>
    With the air, like I don't care, baby, by the way<br>
    <br>
    Uh<br>
    <br>
    (Because I'm happy)<br>
    Clap along if you feel like a room without a roof<br>
    (Because I'm happy)<br>
    Clap along if you feel like happiness is the truth<br>
    (Because I'm happy)<br>
    Clap along if you know what happiness is to you<br>
    (Because I'm happy)<br>
    Clap along if you feel like that's what you wanna do<br>
    <br>
    Here come bad news, talking this and that (Yeah!)<br>
    Well, give me all you got, don't hold it back (Yeah!)<br>
    Well, I should probably warn you I'll be just fine (Yeah!)<br>
    No offense to you<br>
    Don't waste your time, here's why<br>
    <br>
    (Because I'm happy)<br>
    Clap along if you feel like a room without a roof<br>
    (Because I'm happy)<br>
    Clap along if you feel like happiness is the truth<br>
    (Because I'm happy)<br>
    Clap along if you know what happiness is to you<br>
    (Because I'm happy)<br>
    Clap along if you feel like that's what you wanna do<br>
    <br>
    Bring me down<br>
    Can't nothing bring me down<br>
    My level's too high to bring me down<br>
    Can't nothing bring me down, I said<br>
    Bring me down<br>
    Can't nothing bring me down<br>
    My level's too high to bring me down<br>
    Can't nothing bring me down, I said<br>
    <br>
    (Because I'm happy)<br>
    Clap along if you feel like a room without a roof<br>
    (Because I'm happy)<br>
    Clap along if you feel like happiness is the truth<br>
    (Because I'm happy)<br>
    Clap along if you know what happiness is to you<br>
    (Because I'm happy)<br>
    Clap along if you feel like that's what you wanna do<br>
    (Because I'm happy)<br>
    Clap along if you feel like a room without a roof<br>
    (Because I'm happy)<br>
    Clap along if you feel like happiness is the truth<br>
    (Because I'm happy)<br>
    Clap along if you know what happiness is to you<br>
    (Because I'm happy)<br>
    Clap along if you feel like that's what you wanna do<br>
    <br>
    Bring me down<br>
    Can't nothing bring me down<br>
    My level's too high to bring me down<br>
    Can't nothing bring me down, I said<br>
    <br>
    (Because I'm happy)<br>
    Clap along if you feel like a room without a roof<br>
    (Because I'm happy)<br>
    Clap along if you feel like happiness is the truth<br>
    (Because I'm happy)<br>
    Clap along if you know what happiness is to you<br>
    (Because I'm happy)<br>
    Clap along if you feel like that's what you wanna do<br>
    (Because I'm happy)<br>
    Clap along if you feel like a room without a roof<br>
    (Because I'm happy)<br>
    Clap along if you feel like happiness is the truth<br>
    (Because I'm happy)<br>
    Clap along if you know what happiness is to you<br>
    (Because I'm happy)<br>
    Clap along if you feel like that's what you wanna do
</div>

<br><br>

</body>