@page
@model Lyrics1
@{
    ViewData["Title"] = "Lyrics1";
    //var imageThumbPath  = @"~\content\images\happy.jpg";
}
<body>
<div class="div-share"><h1>"Wavin' Flag (The Celebration Mix)" lyrics</h1></div>

<br>
<img src="images/wavinflag.jpg" alt="Wavin Flag" class="center">
<br>
<div class="lyrics">
    Oh oh oh oh oh oh oh oh oh oh, oh oh oh oh oh.<br>
    Oh oh oh oh oh oh oh oh oh oh, oh oh oh oh oh.<br>
    <br>
    Give me freedom,<br>
    Give me fire,<br>
    Give me reason,<br>
    Take me higher.<br>
    <br>
    See the champions<br>
    Take the field now.<br>
    Unify us,<br>
    Make us feel proud.<br>
    <br>
    In the streets our<br>
    Heads are liftin'<br>
    As we lose our<br>
    Inhibition.<br>
    <br>
    Celebration.<br>
    It surrounds us.<br>
    Every nation.<br>
    All around us.<br>
    <br>
    Staying forever young,<br>
    Singin' songs underneath the sun.<br>
    Let's rejoice in the beautiful game.<br>
    And together at the end of the day,<br>
    We all say,<br>
    <br>
    When I get older,<br>
    I will be stronger,<br>
    They'll call me &quot;Freedom&quot;,<br>
    Just like a wavin' flag.<br>
    <br>
    When I get older,<br>
    I will be stronger,<br>
    They'll call me &quot;Freedom&quot;,<br>
    Just like a wavin' flag.<br>
    <br>
    So, wave your flag.<br>
    Now, wave your flag.<br>
    Now, wave your flag.<br>
    <br>
    Oh oh oh oh oh oh oh oh oh oh, oh oh oh oh oh.<br>
    Oh oh oh oh oh oh oh oh oh oh, oh oh oh oh oh.<br>
    <br>
    Give you freedom,<br>
    Give you fire,<br>
    Give you reason,<br>
    Take you higher.<br>
    <br>
    See the champions<br>
    Take the field now.<br>
    Unify us,<br>
    Make us feel proud.<br>
    <br>
    In the streets our<br>
    Heads are liftin'<br>
    As we lose our<br>
    Inhibition.<br>
    <br>
    Celebration.<br>
    It surrounds us.<br>
    Every nation.<br>
    All around us.<br>
    <br>
    Staying forever young,<br>
    Singin' songs underneath the sun.<br>
    Let's rejoice in the beautiful game.<br>
    And together at the end of the day,<br>
    We all say,<br>
    <br>
    When I get older,<br>
    I will be stronger,<br>
    They'll call me &quot;Freedom&quot;,<br>
    Just like a wavin' flag.<br>
    <br>
    When I get older,<br>
    I will be stronger,<br>
    They'll call me &quot;Freedom&quot;,<br>
    Just like a wavin' flag.<br>
    <br>
    So, wave your flag.<br>
    Now, wave your flag.<br>
    Now, wave your flag.<br>
    Now, wave your flag.<br>
    Now, wave your flag.<br>
    Now, wave your flag.<br>
    Now, wave your flag.<br>
    <br>
    Oh oh oh oh oh oh oh oh oh oh, oh oh oh oh oh.<br>
    Oh oh oh oh oh oh oh oh oh oh, oh oh oh oh oh.<br>
    <br>
    We all say,<br>
    <br>
    When I get older,<br>
    I will be stronger,<br>
    They'll call me &quot;Freedom&quot;,<br>
    Just like a wavin' flag.<br>
    <br>
    When I get older,<br>
    I will be stronger,<br>
    They'll call me &quot;Freedom&quot;,<br>
    Just like a wavin' flag.<br>
    <br>
    So, wave your flag.<br>
    Now, wave your flag.<br>
    Now, wave your flag.<br>
    Now, wave your flag.<br>
    Now, wave your flag.<br>
    Now, wave your flag.<br>
    Now, wave your flag.<br>
    <br>
    Oh oh oh oh oh oh oh oh oh oh, oh oh oh oh oh.<br>
    And everybody will be singin' it.<br>
    Oh oh oh oh oh oh oh oh oh oh, oh oh oh oh oh.<br>
    And we all will be singin' it.
</div>

<br><br>
</body>